src/main/mule/mule-deploy-21.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6c946450-2dd9-4135-9bc2-98ba175458f8" >
		<http:listener-connection host="0.0.0.0" port="8081" readTimeout="9000000" />
	</http:listener-config>
	<flow name="mule-deploy-21Flow" doc:id="cb9a2985-6ba4-44a1-a2f9-df2a8fd2dc22" >
		<http:listener doc:name="Listener" doc:id="fdb34de7-2a3f-4512-b98f-cbbd85682ab6" config-ref="HTTP_Listener_config" path="/mule"/>
		<set-payload value='#["sucess"]' doc:name="Set Payload" doc:id="a83090bc-dfe6-4bf0-ba59-7370ceac1bc0" />
	</flow>
</mule>
